[submodule "projects/basicChatroom"]
	path = projects/basicChatroom
	url = https://github.com/ArjhanToteck/Basic-Chatroom.git
	branch = update-for-next
[submodule "projects/cumulus"]
	path = projects/cumulus
	url = https://github.com/ArjhanToteck/Cumulus.git
[submodule "projects/brickedUp"]
	path = projects/brickedUp
	url = https://github.com/ArjhanToteck/Bricked-Up.git
