[submodule "projects/basicChatroom"]
	path = projects/basicChatroom
	url = https://github.com/ArjhanToteck/Basic-Chatroom.git
	branch = update-for-next
[submodule "projects/cumulus"]
	path = projects/cumulus
	url = https://github.com/ArjhanToteck/Cumulus.git
[submodule "projects/set2Stl"]
	path = projects/set2Stl
	url = https://github.com/ArjhanToteck/Set2STL.git
[submodule "projects/daVinciMachine"]
	path = projects/daVinciMachine
	url = https://github.com/ArjhanToteck/Da-Vinci-Machine.git
