[submodule "projects/basicChatroom"]
	path = projects/basicChatroom
	url = https://github.com/ArjhanToteck/Basic-Chatroom.git
	branch = update-for-next
[submodule "projects/cumulus"]
	path = projects/cumulus
	url = https://github.com/ArjhanToteck/Cumulus.git
[submodule "projects/set2Stl"]
	path = projects/set2Stl
	url = https://github.com/ArjhanToteck/Set2STL.git
[submodule "projects/daVinciMachine"]
	path = projects/daVinciMachine
	url = https://github.com/ArjhanToteck/Da-Vinci-Machine.git
[submodule "projects/2048ButBetterServer"]
	path = projects/2048ButBetterServer
	url = https://github.com/ArjhanToteck/2048-But-Better-Server.git
[submodule "towerOfBabel"]
	path = towerOfBabel
	url = https://github.com/ArjhanToteck/Tower-of-Babel.git
